$tablet: 650px;
$tablet-large: 850px;
$desktop: 1150px;
$bigScreen: 1600px;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-large {
  @media (min-width: $tablet-large) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin bigScreen {
  @media (min-width: $bigScreen) {
    @content;
  }
}
