@use "../index.scss";
@use "../layout/mediaQueries.scss";

#home-component {
  @include mediaQueries.desktop {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 9;
    align-self: center;
    margin-left: 12.5rem;
    z-index: 3;
  }
  @include mediaQueries.bigScreen {
    margin-left: 17.9rem;
  }
}

.home-component > .info-wrapper:first-of-type {
  margin-bottom: 0%;
}

.about-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-component {
  position: relative;
  z-index: 3;
}

.box-fade {
  display: auto;
  @include mediaQueries.desktop {
    position: relative;
    z-index: 1;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    grid-template-rows: 80% 20%;
    background: linear-gradient(
      135.68deg,
      index.$bg-blue 0.74%,
      index.$clr-dark 34.34%
    );
  }
}

.box-trees {
  display: none;
  @include mediaQueries.desktop {
    position: relative;
    z-index: 1;
    display: block;
    background-image: url("../../assets/images/trees-overhead.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 6 / 13;
    grid-row: 1 / 2;
  }
}
