@use "../layout/mediaQueries.scss";
@use "../index.scss";

.socials-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-wrapper {
  position: relative;
  z-index: 9;
}

.contact-wrapper > p {
  line-height: 1.2em;
}

.contact-wrapper > p {
  margin-bottom: 0.4em;
}

.socials-wrapper {
  position: relative;
  z-index: 10;
}

.social-anchor:not([data-type="email-link"]) {
  margin-right: 0.2em;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
    border-bottom: solid 2px index.$bg-secondary-100;
  }
}
