@use "../layout/mediaQueries.scss";
@use "../index.scss";

.socials-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-wrapper {
  position: relative;
  z-index: 9;
}

.contact-wrapper > p {
  line-height: 1.2em;
}

.contact-wrapper > p {
  margin-bottom: 0.4em;
}

.socials-wrapper {
  position: relative;
  z-index: 10;
}

.social-anchor > * {
  margin-right: 0.2em;
  &:hover {
    color: index.$bg-green-light;
  }
}
