@use "../layout/mediaQueries.scss";
@use "../index.scss";

// .connect-form > input {
//   margin-bottom: 1em;
// }

// .message-input {
//   min-height: 10rem;
//   width: clamp(20rem, 90vw, 30.5rem);
//   margin-bottom: 1em;
//   @include mediaQueries.desktop {
//     width: clamp(20rem, 60vw, 25rem);
//   }
//   @include mediaQueries.bigScreen {
//     width: clamp(20rem, 28vw, 65rem);
//   }
// }

.socials-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-wrapper {
  position: relative;
  z-index: 10;
}

.contact-wrapper > p {
  line-height: 1.2em;
}

.contact-wrapper > p {
  margin-bottom: 0.4em;
}

.socials-wrapper {
  position: relative;
  z-index: 10;
}

.social-anchor > * {
  margin-right: 0.2em;
  &:hover {
    color: index.$bg-green-light;
  }
}
