@use "../layout/mediaQueries.scss";
@use "../index.scss";

nav {
  color: white;
  position: fixed;
  z-index: 4;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  width: 100vw;
}

.nav-wrapper {
  display: flex;
}

@media (max-width: mediaQueries.$tablet) {
  nav {
    border: solid 2px red;
  }
}
