@use "../index.scss";
@use "../layout/mediaQueries.scss";

#skill-card-wrapper {
  z-index: 4;
  @include mediaQueries.desktop {
    grid-column: 7 / 13;
  }
}

.skills-card-component {
  position: relative;
  text-align: center;
  border: solid 2px index.$clr-light;
  background: linear-gradient(50.61deg, #000000 8.52%, #3d3d3d 89.54%);
  min-height: 22rem;
  width: 18rem;
  border-radius: 25px;
  margin: 1rem 1rem 3rem 1rem;
  padding: 0.8rem;
  &::after {
    content: "";
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    height: 100%;
    width: 100%;
    background: linear-gradient(144.49deg, #f5fcff 0%, #046d31 91.67%);
    border-radius: 25px;
    z-index: -1;
    @include mediaQueries.desktop {
      top: 2rem;
      right: 2rem;
    }
  }
}

.skill-bars-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: space-between;
  height: 15rem;
}

.skills-card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.skill-bar-wrapper {
  height: 1em;
  display: flex;
  gap: 3%;
}

.skill-bar {
  background: linear-gradient(90deg, #00c3ac -8.89%, #089243 50.22%);
}

.skill-bar-level {
  font-size: 1rem;
}

.skill-name {
  text-align: start;
  font-size: 1rem;
}
