@use "../layout/mediaQueries.scss";
@use "../index.scss";
.card-scroll-container {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  margin: 1rem 0;
  max-width: 90vw;
}

.work-card-component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  min-width: 18rem;
  max-width: 18rem;
  border: solid 1px rgb(102, 101, 101);
  border-radius: 15px;
  padding: 1rem;
}

.work-card-component > p {
  font-size: 0.8rem;
}

.work-split {
  position: relative;
  display: grid;
  gap: 1em;
  align-items: center;
  grid-template-rows: 0.1rem 1fr;
  grid-template-columns: repeat(12, minmax(1rem, 10rem));
}

.work-split > :nth-child(1) {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
}

.work-split > :nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 8 / 13;
  @include mediaQueries.bigScreen {
    grid-column: 8 / 12;
  }
}

.buttons-wrapper {
  display: flex;
  @include mediaQueries.desktop {
    // position: absolute;
    // right: 11.5rem;
    // top: -2rem;
    grid-row: 1 / 2;
    grid-column: 8 / 13;
  }
}

.buttons-wrapper :nth-child(1) {
  margin-right: 0.5rem;
}

.active {
  background: linear-gradient(180deg, #005e28 0%, #079f47 100%);
}
