@import "./mediaQueries.scss";

#about-component {
  color: white;
  grid-area: 2 / 1 / 3 / 5;
  margin: 0px var(--mobile-margin);
  @include desktopAndUp {
    margin: 0px var(--desktop-margin);
  }
  @include tablet {
    margin: 0px var(--tablet-margin);
  }
}

.about-wrapper {
  margin: 65px 0;
}

.profile-container {
  @include desktopAndUp {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.profile {
  font-size: var(--title-size);
  color: var(--text-light-two);
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile-title {
  font-size: var(--sub-section-title);

  font-family: var(--font-family-two);
  color: var(--text-light);
}

.skill-title {
  font-size: 18px;
}

.skills-list {
  list-style-type: none;
  padding: 15px;
  font-family: var(--font-family-two);
  border: solid 2px var(--text-light);
  border-radius: 10px;
  box-shadow: 8px 15px var(--background-light);
  margin: 10px 0px;
}

.skill-component {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 15px;
  @include desktopAndUp {
    grid-template-columns: 20% 80%;
    padding: 7.5px;
  }
}

.skill-description {
  @include desktopAndUp {
    display: flex;
    flex-wrap: wrap;
  }
}

.skill-item {
  @include desktopAndUp {
    margin-right: 5px;
    list-style: none;
    &::before {
      content: "- ";
    }
  }
}

.profile-description {
  padding: 15px;
  font-family: var(--font-family-two);
  border: solid 2px var(--text-light);
  border-radius: 10px;
  box-shadow: -8px 15px var(--background-light);
  margin: 10px 0px;
}
