.about-component {
  color: white;
  grid-area: 2 / 1 / 3 / 5;
}

.profile {
  font-size: var(--title-size);
  margin-bottom: 10px;
  color: var(--main-color);
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile-title {
  font-size: var(--sub-section-title);
  font-style: italic;
}

.skill-title {
  font-size: 18px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skill-item {
  padding: 15px;
  border-bottom: solid 2px white;
  display: flex;
}

.profile-description {
  padding: 15px;
}
