@import "./mediaQueries.scss";

.app-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100vh 205vh 235vh 30px;
  min-height: 100vh;
  @include tablet {
    grid-template-rows: 100vh 180vh 220vh 30px;
  }
  @include desktop {
    grid-template-rows: 100vh 100vh 150vh 30px;
  }
  @include large-screen {
    grid-template-rows: 100vh 72vh 120vh 30px;
  }
}

.title-socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  position: sticky;
  top: 0px;
  background: var(--nav-background);
}
