.app-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 175vh 138vh 310vh 30px;
  min-height: 100vh;
}

.title-socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  position: sticky;
  top: 0px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
}
