.app-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 160vh 150vh 100vh 10vh;
  grid-gap: 16px;
  min-height: 100vh;
}

.title-socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  position: sticky;
  top: 5px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
