.app-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 175vh 148vh 280vh 20px;
  min-height: 100vh;
  margin: 16px;
}

.title-socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  position: sticky;
  top: 0px;
  background: rgba(0, 0, 0, 0.9);
}
