@use "./index.scss";
@use "./mediaQueries.scss";

.app-component {
  display: grid;
  grid-template-rows: repeat(4, 100vh);
  grid-template-columns: repeat(12, 1fr);
  // gap: 1.25rem;
}

.home-container {
  display: grid;
  @include mediaQueries.desktop {
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 100%;
  }
  position: relative;
  grid-column: 1 / 13;
}

.box-fade {
  display: none;
  @include mediaQueries.desktop {
    background: linear-gradient(
      135.68deg,
      index.$bg-blue 0.74%,
      index.$clr-dark 34.34%
    );
    display: grid;
    grid-template-rows: 75% 25%;
  }
}

.box-trees {
  display: none;
  @include mediaQueries.desktop {
    display: block;
  }
}

.img {
  object-fit: fill;
  min-height: 100vh;
}

.home-component {
  @include mediaQueries.desktop {
    color: index.$clr-light;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, minmax(3.5rem, 5rem));
    gap: 1.25rem;
    align-items: center;
    min-height: 100vh;
    margin: 0 13.125rem;
  }
  // border: solid 2px green;
}

.info-wrapper {
  // border: solid 1px orange;
  grid-column: 1 / 10;
}

.icon-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 2 / 3;
}
