#home-component {
  display: grid;
  grid-template-rows: 95vh 85vh;
  font-size: var(--title-size);
  color: white;
  grid-area: 1 / 1 / 2 / 5;
  margin: 0 var(--mobile-margin);
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-weight: bold;
  font-size: 3rem;
  margin: 10px;
  color: var(--text-light-two);
}

.subline {
  text-align: center;
  font-size: 20px;
  font-family: var(--font-family-two);
  color: var(--text-light);
}

.image-wrapper {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}
