@import "./mediaQueries.scss";

#home-component {
  display: grid;
  grid-template-rows: 105vh;
  font-size: var(--title-size);
  color: white;
  grid-area: 1 / 1 / 2 / 5;
  margin: 0 var(--mobile-margin);
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-weight: bold;
  font-size: 3rem;
  color: var(--text-light-two);
  @include notMobile {
    font-size: 5rem;
  }
}

.subline {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-family-two);
  color: var(--text-light);
  @include notMobile {
    font-size: 2.5rem;
  }
}

#nick-image {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  @include notMobile {
    height: 120px;
    width: 120px;
  }
}
