.home-component {
  display: grid;
  grid-template-rows: 80vh 70vh;
  font-size: var(--title-size);
  color: white;
  grid-area: 1 / 1 / 2 / 5;
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-weight: bold;
  margin: 10px;
  color: var(--main-color);
}

.subline {
  text-align: center;
  font-size: 20px;
}

.image-wrapper {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}
