@use "./index.scss";

.icon-nav > * {
  position: relative;
  padding: 1.5rem;
  transition: transform 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, #046d31 0%, #000000 100%);
    transform: scale(1.2);
  }
}
