// @import "./mediaQueries.scss";

$font-family-main: "Righteous", "cursive";
$font-family-secondary: "Padauk", sans-serif;
$font-size-main: 7.5rem;
$font-size-secondary: 1.5rem;
$bg-blue: #0200ab;
$bg-green: #046d31;
$clr-light: #fff;
$clr-dark: #000000;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
section,
p {
  margin: 0%;
}

h1 {
  font-family: $font-family-main;
  font-size: clamp(3.5rem, 15vw, $font-size-main);
}

p {
  font-family: $font-family-secondary;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

ul {
  list-style: none;
}

body {
  margin: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  image-rendering: crisp-edges;
  max-width: 100%;
}
