// @import "./mediaQueries.scss";

$font-family-main: "Righteous", "cursive";
$font-family-secondary: "Padauk", sans-serif;
$font-size-main: 7.5rem;
$font-size-secondary: 1.5rem;
$bg-blue: #0200ab;
$bg-green: #046d31;

@mixin font-main {
  font-family: $font-family-main;
  font-size: $font-size-main;
}

@mixin font-secondary {
  font-family: $font-family-secondary;
  font-size: $font-size-secondary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
section,
p {
  margin: 0%;
}

h1 {
  @include font-main;
}

p {
  @include font-secondary;
}
body {
  // margin: ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  image-rendering: crisp-edges;
}
