@import "./mediaQueries.scss";

:root {
  --color-red: #ff0035;
  --background-dark: #0e131f;
  --background-light: #dccca3;
  --text-light: #fdfdfd;
  --text-light-two: #aad3ff;
  --title-size: 50px;
  --sub-section-title: 30px;
  --mobile-margin: 16px;
  --nav-background: rgba(0, 0, 0, 0.9);
  --font-family-one: "Racing Sans One", cursive;
  --font-family-two: "Baloo Thambi 2", cursive;
}

body {
  background: var(--background-dark);
  margin: 0px;
  font-family: var(--font-family-one);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
