@import "./mediaQueries.scss";

.nav-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: var(--nav-background);
  width: 100vw;
  border-bottom: solid 0.5px white;
  z-index: 5;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 5;
  padding: 8px 16px;
  border-bottom: solid 1px white;
  z-index: 10;
  background: var(--nav-background);
}

.navbar-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  grid-area: 2 / 1 / 2 / 5;
  list-style: none;
  z-index: 2;
  font-family: var(--font-family-two);
}

.nav-options-wrapper {
  display: grid;
  grid-template-columns: 40vw 23vw 35vw;
  padding: 8px 16px;
}

.nav-options-grid-container {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: flex-end;
}

.nav-options-container {
  display: flex;
  align-items: center;
  width: 350px;
}

.nav-options {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

.hide-navbar {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 7px 0;
  font-family: var(--font-family-two);
  &:hover {
    cursor: pointer;
  }
}

.nav-options:nth-child(3) {
  border: solid 2px red;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.N {
  color: white;
  display: flex;
  font-size: 1.7rem;
  font-weight: bold;
  align-items: center;
  @include notMobile {
    font-size: 2rem;
  }
}
