.nav-component {
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 5;
  border-bottom: solid 2px white;
  padding: 8px 16px;
}

.nav-component-menu-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 5;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 5;
  border-bottom: solid 2px white;
  padding: 8px 16px;
}

.navbar-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  grid-area: 2 / 1 / 2 / 5;
  list-style: none;
}

.dropdown-link {
  text-decoration: none;
  color: white;
  margin: 7px 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.N {
  color: white;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}
