.nav-component {
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 5;
  border-bottom: solid 2px white;
  padding-bottom: 10px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.N {
  color: white;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}
