.nav-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: var(--nav-background);
  width: 100vw;
  border-bottom: solid 0.5px white;
  z-index: 5;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 5;
  padding: 8px 16px;
  border-bottom: solid 1px white;
  z-index: 10;
  background: var(--nav-background);
}

.navbar-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  grid-area: 2 / 1 / 2 / 5;
  list-style: none;
  z-index: 2;
  font-family: var(--font-family-two);
}

.hide-navbar {
  display: none;
}

.dropdown-link {
  text-decoration: none;
  color: white;
  margin: 7px 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.N {
  color: white;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}
