@import "../styles/mediaQueries.scss";

.project-page-component {
  color: var(--text-light);
  margin: 0px var(--mobile-margin);
  @include tablet {
    margin: 0px var(--tablet-margin);
  }
  @include desktopAndUp {
    margin: 0px var(--desktop-margin);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: solid 2px red;
  }
  height: 100vh;
}

.project-page-container {
  display: flex;
  flex-direction: column;
  padding-top: var(--mobile-margin);
  @include tablet {
    padding-top: 0%;
  }
  @include desktopAndUp {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: auto;
  }
}

.project-page-title {
  font-size: var(--title-size);
}

.project-page-profile {
  padding: 0px 3%;
  @include tablet {
    padding: 0px 8% 20px 8%;
  }
  @include desktopAndUp {
    padding: 15%;
    padding-right: 0px;
  }
}

.project-page-description {
  font-family: var(--font-family-two);
  padding-top: 1%;
}

.project-page-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  @include desktopAndUp {
    padding: 0px;
  }
}

.project-page-image {
  width: 100%;
  height: auto;
  box-shadow: -8px 5px var(--background-light);
  border-radius: 10px;
  border: solid 2px var(--text-light);
  @include tablet {
    width: 90%;
    height: auto;
  }
  @include desktopAndUp {
    height: auto;
  }
  border-radius: 10px;
}

.see-more-link {
  display: flex;
  justify-content: flex-end;
  color: var(--text-light-two);
  padding: 3%;
  transition: all 0.4s ease;
  &:hover {
    cursor: pointer;
    color: var(--hover-color);
    transition: all 0.3s ease-in;
  }
}
