@import "../styles/mediaQueries.scss";

.project-page-component {
  color: var(--text-light);
  margin: var(--mobile-margin);
  @include tablet {
    margin: var(--tablet-margin);
  }
  @include desktopAndUp {
    margin: 50px var(--desktop-margin);
    height: 90vh;
    display: flex;
    align-items: center;
  }
  height: 80vh;
}

.project-page-container {
  @include desktopAndUp {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.project-page-title {
  font-size: var(--title-size);
}

.project-page-profile {
  @include desktopAndUp {
    padding: 15%;
  }
}

.project-page-description {
  font-family: var(--font-family-two);
}

.project-image-wrapper {
  display: flex;
  justify-content: center;
}

.project-page-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
