.socials-component {
  display: flex;
  justify-content: flex-start;
  padding-top: 17px;
}

.social-link {
  color: white;
  margin: 0 2px;
  transition: 0.5s ease;
}

.social-link:hover {
  cursor: pointer;
  color: var(--main-color);
}
