@import "./mediaQueries.scss";

.socials-component {
  display: flex;
  justify-content: flex-start;
}

.socials-component-add-padding {
  display: flex;
  justify-content: flex-start;
  padding-top: 17px;
}

.social-link {
  color: white;
  margin: 0 2px;
  transition: 0.5s ease;
  &:hover {
    color: var(--background-light);
    cursor: pointer;
  }
}
