.socials-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
}

.social-link {
  color: white;
  margin: 0 2px;
  transition: 0.5s ease;
}

.social-link:hover {
  cursor: pointer;
  color: var(--main-color);
}
