#work-component {
  grid-area: 3 / 1 / 4 / 5;
  background-color: var(--background-light);
}

.work-wrapper {
  margin: 60px var(--mobile-margin);
}

.work-title {
  font-size: var(--title-size);
  color: var(--background-dark);
}

.project-set-title {
  font-size: var(--sub-section-title);
  font-family: var(--font-family-two);
  /* font-style: italic; */
  margin: 10px;
  color: var(--background-dark);
}

.anchor-wrapper {
  display: flex;
  justify-content: center;
}
