@import "./mediaQueries.scss";

#work-component {
  grid-area: 3 / 1 / 4 / 5;
  background-color: var(--background-light);
}

.work-wrapper {
  margin: 60px var(--mobile-margin);
  @include desktopAndUp {
    margin: 65px var(--desktop-margin);
    margin-right: 0;
  }
  @include tablet {
    margin: 60px var(--tablet-margin);
    margin-right: 0;
  }
}

.work-title {
  font-size: var(--title-size);
  color: var(--background-dark);
}

.project-set-title {
  font-size: var(--sub-section-title);
  font-family: var(--font-family-two);
  /* font-style: italic; */
  margin: 10px;
  color: var(--background-dark);
}

.anchor-wrapper {
  display: flex;
  justify-content: center;
}

.project-card-image-description-wrapper {
  font-family: var(--font-family-two);
  display: flex;
  flex-direction: column;

  max-width: 325px;
  margin-bottom: 5%;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;

  transition: 0.6s ease;
  @include tablet {
    margin-right: 2.5rem;
  }
  @include desktopAndUp {
    margin-right: 2.5rem;
    &:hover {
      box-shadow: 8px 15px var(--background-dark);
      transition: 0.6s ease;
    }
  }
}

.project-card-basic-description {
  padding: 5%;
}

.basic-description-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
  color: var(--background-dark);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: 0.8s ease;
}
