@use "$/styles/layout/mediaQueries.scss";
@use "$/styles/variables.scss";
@use "$/styles/mixins";

$colorAmount: 8%;
$darkSpace: 60%;

.app_container {
  position: relative;
}

.box_fade {
  @include mixins.fade_animation(
    linear-gradient(
      135.68deg,
      variables.$bg-primary 0.74%,
      variables.$clr-neutral-900 34.34%
    ),
    linear-gradient(
      135.68deg,
      #49ec08 $colorAmount,
      variables.$clr-neutral-900 $darkSpace
    ),
    linear-gradient(
      135.68deg,
      #ec5b08 $colorAmount,
      variables.$clr-neutral-900 $darkSpace
    )
  );

  @include mediaQueries.desktop {
    display: grid;
    grid-template-rows: 85% 15%;
    position: relative;
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
  }
}

.intro_wrapper {
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 4;

  @include mediaQueries.desktop {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    align-self: center;
    margin-left: 12.5rem;
    z-index: 3;
  }
  @include mediaQueries.bigScreen {
    margin-left: 17.9rem;
  }
}
