@use "$/styles/layout/mediaQueries.scss";

.project_page_container {
  display: flex;
  padding: 2em 0;
  min-height: 100dvh;
}

.project_page_component {
  display: flex;
  flex-direction: column;
}

.project_page_image {
  max-width: 100%;
}

.project_page_title {
  font-size: 3rem;
  margin-bottom: 0.1em;
  @include mediaQueries.tablet-large {
    font-size: 3.7em;
  }
}

.project_page_description {
  margin-bottom: 1.8rem;
}

.links_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.links_wrapper > * > * {
  transition: all 0.3s ease-in-out;
  &:hover {
    &:hover {
      color: variables.$bg-secondary-100;
    }
  }
}

.projct_page_image {
  border-radius: 15px;
}
