@use "$/styles/layout/mediaQueries.scss";
@use "$/styles/variables";

.skill_card_wrapper {
  // z-index: 5;
  @include mediaQueries.desktop {
    grid-column: 7 / 13;
  }
}

.skills_card_component {
  position: relative;
  text-align: center;
  padding: 0.8rem;
  width: 18rem;
  margin: 1rem 1rem 3rem 1rem;
  min-height: 22rem;
  border: solid 2px variables.$clr-neutral-100;
  background: linear-gradient(50.61deg, #000000 8.52%, #3d3d3d 89.54%);
  border-radius: 25px;
  &::after {
    content: "";
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    height: 100%;
    width: 100%;
    background: linear-gradient(144.49deg, #f5fcff 0%, #046d31 91.67%);
    border-radius: 25px;
    z-index: -1;
    @include mediaQueries.desktop {
      top: 2rem;
      right: 2rem;
    }
  }
}

.skills_card_title {
  text-transform: uppercase;
  font-size: variables.$fs-500;
}

.skill_category {
  display: flex;

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_list {
    display: flex;
    gap: 0.5rem;
  }
}
