@use "$/styles/layout/mediaQueries.scss";

.work_container {
  overflow-x: hidden;
}
.card_scroll_container {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  overflow-x: scroll;
  max-width: 90vw;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo_wrapper {
  height: 150px;
  width: 150px;
}

.work_card_component {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
  padding: 1rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  min-width: 18rem;
  max-width: 18rem;
  border: solid 1px rgb(102, 101, 101);
  border-radius: 15px;
}

.work_card_component > p {
  font-size: 0.8rem;
}

.work_split {
  display: grid;
  grid-template-rows: 0.1rem 1fr;
  grid-template-columns: repeat(12, minmax(1rem, 10rem));
  align-items: center;
  gap: 1em;
  position: relative;
}

.work_split > :nth-child(1) {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
}

.work_split > :nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 8 / 13;
  @include mediaQueries.bigScreen {
    grid-column: 8 / 12;
  }
}

.buttons_wrapper {
  display: flex;
  @include mediaQueries.tablet-large {
    grid-row: 1 / 2;
    grid-column: 8 / 13;
  }
}

.buttons-wrapper :nth-child(1) {
  margin-right: 0.5rem;
}

.active {
  background: linear-gradient(180deg, #005e28 0%, #079f47 100%);
}
