@use "../layout/mediaQueries.scss";

.svg-wrapper {
  position: absolute;
  z-index: 2;
}

.big-circle-svg {
  transform: scale(0.36);
  left: 0.5rem;
  bottom: 8.5rem;
  right: 28rem;
  @include mediaQueries.desktop {
    transform: scale(0.87);
    top: 1rem;
    bottom: 45rem;
    left: 3rem;
  }
}

.circles-svg {
  transform: scale(0.2);
  bottom: 4rem;
  @include mediaQueries.desktop {
    transform: scale(0.7);
    top: 2rem;
    bottom: 30rem;
    // left: 3rem;
    right: 5rem;
  }
}

.rings-svg {
  transform: scale(0.2);
  @include mediaQueries.desktop {
    transform: scale(0.76);
    top: -2rem;
    bottom: 100rem;
    // left: 1rem;
    right: 4rem;
  }
  @include mediaQueries.bigScreen {
    transform: scale(0.8);
    top: -8rem;
    bottom: 1rem;
    left: 1rem;
  }
}
