@use "$/styles/layout/mediaQueries.scss";
@use "$/styles/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  color: variables.$clr-neutral-100;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  background-color: variables.$clr-neutral-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

main {
  z-index: 1;
}

h1,
h2,
section,
p {
  margin: 0%;
}

h1 {
  font-size: min(17dvw, 5rem);
  @include mediaQueries.tablet {
    font-size: min(15dvw, 7rem);
  }
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: min(1.3rem, 4.8vw);
  line-height: 1.5em;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
  &:hover {
    color: variables.$bg-secondary-100;
  }
}
