@use "$/styles/variables";

@mixin button-style {
  padding: 0.3rem 1rem;
  border: 0.5px solid variables.$clr-neutral-900;
  border-radius: 19px;
  background: linear-gradient(
    180deg,
    variables.$bg-secondary-100 0%,
    #005e28 100%
  );

  &:hover {
    cursor: pointer;
  }
}

@mixin button-pressed {
  padding: 0.3rem 1rem;
  border: 1px solid variables.$clr-neutral-900;
  border-radius: 19px;
  background: linear-gradient(180deg, #005e28 0%, #079f47#005e28 100%);
  &:hover {
    cursor: pointer;
  }
}

// ANIMATIONS
@mixin layer_position_cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin fade_animation($bg1: auto, $bg2: auto, $bg3: auto) {
  display: auto;
  position: relative;
  background-image: $bg1;
  animation: fade 6s infinite;

  &::before {
    @include layer_position_cover;
    background-image: $bg2;
    animation: fade 6s infinite 2s;
  }

  &::after {
    @include layer_position_cover;
    background-image: $bg3;
    animation: fade 6s infinite 4s;
  }
}
